<p id="notice"><%= notice %></p>

<h1>Books</h1>

<form>
  <input name="name" placeholder="Search by name">
  <button type="submit">Find</button>
<form>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Publisher</th>
      <th>Price</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <%= render 'books', books: @books %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>